.favCard {
  width: 100%;
  color: currentColor;
  display: flex;
  text-decoration: none;
  gap: 0.5rem;
  background-color: var(--bg-secondary);
  border-radius: var(--radius-short-element);
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow-card);
  transition: background 0.3s ease;
}
.favCard:hover {
  background-color: var(--bg-hover);
}
.favCardWrap {
  border-radius: var(--radius-medium-element);
  overflow: hidden;
  width: 100px;
  display: flex;
  padding: 0.5rem;
}
.favCardWrapAlive {
  background-color: var(--color-alive);
}
.favCardWrapDead {
  background-color: var(--color-dead);
}
.favCardWrapUnknown {
  background-color: var(--color-unknown);
}
.favCardWrap > img {
  width: 100%;
  border-radius: var(--radius-short-element);
}
.favCardDetails {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
