.search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bg-secondary);
  border-radius: var(--radius-big-element);
  box-shadow: var(--shadow-card);
  width: clamp(250px, 100%, 800px);
  padding: 0.5rem;
  position: relative;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  border-radius: var(--radius-short-element);
  margin-top: 0.5rem;
  position: relative;
  z-index: 2;
}
.input {
  border: none;
  border-radius: var(--radius-short-element) 0 0 var(--radius-short-element);
  flex-grow: 1;
  padding: 0.8rem;
  font-size: 1.2rem;
}
.input:focus {
  outline: var(--color-outline) 2px solid;
}
.inputBtn {
  width: 50px;
  background-color: var(--bg-btn);
  border: none;
  border-radius: 0 var(--radius-short-element) var(--radius-short-element) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.5rem;
}
.inputBtn:active {
  transform: scale(0.9);
}
.error {
  background-color: crimson;
  border-radius: var(--radius-short-element);
  padding: 0.4rem;
  color: #fff;
  text-align: center;
}
