* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(https://i.kym-cdn.com/photos/images/original/001/530/445/8de.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --bg-principal: rgb(240, 255, 218);
  --bg-secondary: rgb(219, 250, 172);
  --bg-btn: rgb(132, 216, 5);
  --color-secondary: rgb(72, 72, 72);
  --color-outline: rgb(163, 251, 32);
  --radius-big-element: 1.2rem;
  --radius-medium-element: 1rem;
  --radius-short-element: 0.7rem;
  --shadow-card: 0px 0px 8px -3px rgba(0, 0, 0, 0.539);
  --color-dead: rgb(255, 75, 111);
  --color-alive: rgb(71, 196, 58);
  --color-unknown: rgb(157, 157, 157);
  --bg-hover: rgba(217, 217, 217, 0.328);
}
.scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scroll::-webkit-scrollbar-track {
  background-color: var(--bg-principal);
}
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--bg-btn);
}
