.episode {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--bg-secondary);
  border-radius: var(--radius-short-element);
  font-size: 0.8rem;
}
.title {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subtitleCard {
  color: var(--color-secondary);
  font-weight: bold;
}
.wrap {
  display: flex;
  flex-direction: column;
}
